.background {
/*fill: none;*/
pointer-events: all;
}
rect {
fill: #fff;
}
#countries {
fill: #ddd;
stroke: #fff;
stroke-width: 1px;
}
#links circle {
fill: #666;
opacity: .2;
}
circle title {
font: 13px sans-serif;
fill:#333;
}
